.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  
}

.collapsible {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 350px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid;
    border-bottom: none;
    border-color: rgb(219, 68, 219);
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    
}

.full-chat-block {
    width: 350px;
    background: rgb(54, 54, 54);
    text-align: center;
    overflow: auto;
    scrollbar-width: none; 
    height: max-content; 
   /* height: 100.001vh; */
    transition: max-height 0.2s ease-out;
   
    
}

.full-chat-block::-webkit-scrollbar {
    display: none;
}
.outer-container {
    min-height: 500px;
    bottom: 0%;
    position: relative;
}

.chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
    color:white;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    position:-webkit-sticky;
    position: sticky; 
    bottom: 0;
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
    z-index: 10;
}


.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

#chat-icon:hover {
    opacity: .7;
}



/* Chat bubbles */

#scroller * {
    overflow-anchor: none;
}

#anchor {
    overflow-anchor: auto;
    height:1px;
}

#userInput {
    width: 75%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none;
   
}

.userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #5ca6fa;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;

    overflow-anchor: auto;
    line-height: 1.5em;
}

.botText span {
    
    line-height: 1.5em;
    display: inline-block;
    background: white;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards;

    overflow-anchor: auto;
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}

/* Chat bubbles reaction emoji */

.fa-plus{
   overflow: hidden;
   color: black;
   position: absolute;
}

.plus  {
    z-index: 5;
    background-color: #5ca6fa;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border:solid 1px;
    position: relative;
    top: -25px;
    left: 2vh;
    animation: floatup .5s forwards;

    cursor: pointer;
    overflow: hidden;
}

.plus:hover {
    width: 21px;
    height: 21px;
}

.plus.plus--expanded{
  width:70px;
  animation: expand .5s ease;  
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
  border-top-left-radius:25px;
  border-bottom-left-radius:25px;
}

.plus--unexpanded{
    width: 20px;
    animation: expand .5s ease;
}

@keyframes expand {
    0%{
        width: 20px;
    }
    100%{
        width: 70px;
    }

}
@keyframes unexpanded {
    0%{
        width: 70px;
    }
    100%{
        width: 20px;
    }
}

#bubble-icon {
    margin-top:2px;
}
/*
.feelBar{
    width:60px;
    height: 25px;
    border:solid 1px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    position: relative;
    top: -25px;
    left: 1vh;
    background-color: gold;
}
*/